@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:ital,wght@1,400;1,500&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Background color for the body */
}

.box {
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff; /* Background color for the login box */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the box */
}

.login_box {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #BBA166; /* Title color */
    margin-top: 16%;
    font-size: 60px;
    font-family: 'Montserrat', cursive;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: calc(100% - 40px);
    padding: 12px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #BBA166; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000; /* Hover state color */
}

a {
    text-decoration: none;
    color: #BBA166; /* Link color */
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
